body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f06, #3498db);
    background-size: 200% 200%;
    animation: gradientAnimation 10s infinite;
}

.cont {
    display: flex;
    flex-direction: row;
    border: 2px solid transparent; /* Added border */
    transition: border-color 0.3s; /* Transition for border color */
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400px;
    font-style: normal;
    transition: background-color 1s, color 1s;
    justify-content: space-evenly;
 

}


.cont img {
    border-radius: 50%;
    float: inline-start;
    width: 120px;

}

.cont div {
    margin-left: 15%; /* Added margin for spacing */
    float: inline-end;
    margin-right: 20%;
}

.icon,.icons {
    width: 20px;
    border-radius: 50%;
}

h1, h2 {
    color: brown;
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
    .cont {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center items */
    }

    .cont img {
        order: 2; /* Change order of image */
    }

    .cont div {
        margin-left: 0; /* Reset margin */
    }
}




.education, .projects, .contact,.stack {
    border: 2px solid transparent;
    
    padding: 10px; 
    transition: background-color 1s, color 1s; 
}

.education:hover, .projects:hover, .contact:hover ,.stack:hover{
    background-color: #333;
    color: white;
    box-shadow: 5px;
   
}
.stack {
    font-family: Arial, sans-serif;
    padding: 20px;
    
    
    border-radius: 5px;
   
    margin: 0 auto;
}
.stack h2 {
    margin-top: 0;
}
.stack ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.stack ul li {
    margin-bottom: 5px;
}
.stack .frontend {
    color: #007bff;
}
.stack .backend {
    color: #28a745;
}
.stack .other {
    color: #6c757d;
}
nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    /* margin: 0 20px; */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    padding: 5px;
    background: linear-gradient(45deg, #fff, #f0f0f0);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-out;
}

.project {
    margin: 20px 0;
    padding: 10px;
    background: linear-gradient(45deg, #fff, #f0f0f0);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project {
    margin: 20px 0;
    padding: 10px;
    background: linear-gradient(45deg, #fff, #f0f0f0);
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.project button {
    background: linear-gradient(45deg, #e74c3c, #3498db);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.project button:hover {
    background: linear-gradient(45deg, #3498db, #e74c3c);
}

.modal-button {
    background: linear-gradient(45deg, #3498db, #e74c3c);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.modal-button:hover {
    background: linear-gradient(45deg, #e74c3c, #3498db);
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.close-button {
    color: #555;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.X,.email{
    width: 50px;
    height: 40px;
    margin-left: 40%;
}
.email{
    margin-left: 20px;
}

