body {
    text-align: center;
    background-color: rgb(235, 237, 240e); /* Light background color */
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.cont {
    display: flex;
    flex-direction: row;
    border: 2px solid transparent; /* Added border */
    transition: border-color 0.3s; /* Transition for border color */
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 1s, color 1s;

}
.cont:hover{
    background-color: #333;
    color: white;
}

.cont img {
    border-radius: 50%;
    float: inline-start;
}

.cont div {
    margin-left: 15%; /* Added margin for spacing */
    float: inline-end;
    margin-right: 20%;
}

.icon {
    width: 5%;
    border-radius: 50%;
}

h1, h2 {
    color: brown;
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
    .cont {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center items */
    }

    .cont img {
        order: 1; /* Change order of image */
    }

    .cont div {
        margin-left: 0; /* Reset margin */
    }
}

/* Border effect on hover */
.cont:hover {
    border-color: white; /* Border color on hover */
}

/* Background and font color for sections */
.education, .projects, .contact,.stack {
    border: 2px solid transparent;
    border-radius: 5%; /* Added border */
    padding: 10px; /* Added padding */
    transition: background-color 1s, color 1s; /* Transition for background color and font color */
}

.education:hover, .projects:hover, .contact:hover ,.stack:hover{
    background-color: #333; /* Dark background color on hover */
    color: white; /* Font color on hover */
    box-shadow: 5px;
}
