body {
    text-align: center;
    background-color: rgb(53, 57, 53); /* Light background color */
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

      
      
}

.cont {
    display: flex;
    flex-direction: row;
    border: 2px solid transparent; /* Added border */
    transition: border-color 0.3s; /* Transition for border color */
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400px;
    font-style: normal;
    transition: background-color 1s, color 1s;
    justify-content: space-evenly;
 

}

.cont:hover{
    background-color: #333;
    color: white;
}

.cont img {
    border-radius: 50%;
    float: inline-start;
    width: 120px;

}

.cont div {
    margin-left: 15%; /* Added margin for spacing */
    float: inline-end;
    margin-right: 20%;
}

.icon {
    width: 5%;
    border-radius: 50%;
}

h1, h2 {
    color: brown;
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
    .cont {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center items */
    }

    .cont img {
        order: 2; /* Change order of image */
    }

    .cont div {
        margin-left: 0; /* Reset margin */
    }
}


.cont:hover {
    border-color: white; 
    font-family: "Jersey 25", sans-serif;
        font-weight: 400;
        font-style: normal;
}


.education, .projects, .contact,.stack {
    border: 2px solid transparent;
    
    padding: 10px; 
    transition: background-color 1s, color 1s; 
}

.education:hover, .projects:hover, .contact:hover ,.stack:hover{
    background-color: #333;
    color: white;
    box-shadow: 5px;
   
}
.stack {
    font-family: Arial, sans-serif;
    padding: 20px;
    
    
    border-radius: 5px;
   
    margin: 0 auto;
}
.stack h2 {
    margin-top: 0;
}
.stack ul {
    list-style-type: none;
    padding: 0;
}
.stack ul li {
    margin-bottom: 5px;
}
.stack .frontend {
    color: #007bff;
}
.stack .backend {
    color: #28a745;
}
.stack .other {
    color: #6c757d;
}